body {
	font-family: "Helvetica Neue";
	font-size: 10pt;
}

.header, .footer {
	color: #BBB;
	font-size: 8pt;
	height: 10px;
	margin: 0;
	padding: 0;
}

.header { padding-bottom: 6px; border-bottom: 1px solid #BBB; }
.footer { padding-top: 6px; border-top: 1px solid #BBB; }

.header .left, .footer .left { float: left; }
.header .right, .footer .right { float: right; }



.coverpage header {
	display: block;
	margin-top: 50px;
	text-align: center;
}

.coverpage h1, body.titlepage h2 {
	margin: 0;
}


ul { margin-left: -20px; }

img { max-width: 100%; }

code {
	background-color: #EEE;
	color: #070;
}
pre {
	padding: 3px;
	background-color: #EEE;
}

table.CodeRay {
	border: none;
	border-spacing: 0;
	width: 100%;
}

table.CodeRay td.line-numbers pre {
	background: none;
}
table.CodeRay td.line-numbers a {
	color: #AAA;
	text-decoration: none;
}